rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.get('email', '').lower() == "jemalfano030@gmail.com" ||
        request.auth.token.get('email', '').lower() == "jemalfan030@gmail.com" ||
        request.auth.token.get('email', '').lower() == "admin@iftu.edu.et" ||
        request.auth.token.get('email', '').lower() == "admin@iftu-lms.com"
      );
    }
  }
}
